.home-header {
    position: relative;
    width: 100%;
}

.background-image {
    background-position: center;
    height: 100vh;
    filter: brightness(100%);
    transition: background-image 1s ease-in-out;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    background-size: cover;  
  }

.quote-container {
    position: absolute;
    margin-bottom: 100px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 0;
    max-width: 80%;
    animation: slide 3s ease-in-out 1s infinite alternate;
   
}

  
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100px);
    }
  }
  
