.menu-header {
    position: relative;
    text-align: center;
    color: white;
    overflow: hidden;
    background-color: #000; 
  }
  
  .background-image {
    background-size: cover;
    background-position: center;
    height: 400px;
    filter: brightness(90%);
    transition: background-image 1s ease-in-out;
    border-radius: 20px;
    
  }
  
  .menu-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 90%;
   
  }
  
  .menu-title h1 {
    font-size: 48px;
    margin: 0;
  }
  
  .menu-title p {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .quote-container {
    margin-top: 20px;
  }
  
  .quote {
    font-size: 24px;
    font-style: italic;
  }